@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700|Quicksand:400,500,700');

:root {
    --header-font: Nunito;
    --body-font: Quicksand;
    --primary-color: #FFD730;
    --primary-color-selected: #F2C71B;
}

.fill-viewport {
    min-height: 100vh;
}